package components

templ Warning(title string) {
	<article class="pico-background-amber-100">
		<header class="pico-background-amber-200 pico-color-amber-900">{ title }</header>
		<p class="pico-color-amber-900">
			{ children... }
		</p>
	</article>
}
